<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link href="css/common.css" rel="stylesheet" type="text/css" />
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="css/index.css" />
		<script type="text/javascript" src="js/jquery-1.12.4.js"></script>
		<script type="text/javascript" src="js/jq_ajax_config.js"></script>
		<script type="text/javascript" src="js/vue.js"></script>
		<style>
			[v-cloak] {
				display: none;
			}
		</style>
	</head>

	<body>
		<div class="container">
			<div id="loginApp" class="row" v-cloak>
				<div>
					<img src="images/img1.jpg" />
				</div>
				<div>
					<h3>管理员登录</h3>
					<el-form ref="form" :model="users" label-width="80px">
						<el-form-item label="用户名：">
							<el-input v-model="users.userName" placeholder="常用邮箱"></el-input>
						</el-form-item>
						<el-form-item label="密码：">
							<el-input v-model="users.userPassword"></el-input>
						</el-form-item>
						<!--<el-form-item label="验证码：">
							<el-input v-model="users.vc"></el-input>
							<img src="img/img2.jpg" />
							<a href="JavaScript:void(0)">看不清</a>
						</el-form-item>-->
						 <el-checkbox v-model="checked">下次自动登录</el-checkbox>
						<el-form-item>
							<el-button type="success" @click="onSubmit()">登录</el-button>
							<el-button @click="onRegister" type="primary">注册</el-button>
							<a href="JavaScript:void(0)">忘记密码？</a>
						</el-form-item>
					</el-form>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="js/bootstrap.min.js" ></script>
	<script type="text/javascript" src="js/dialogs.js" ></script>
	<script type="text/javascript" src="js/index.js" ></script>
	<script>
		var loginApp = new Vue({
			el: "#loginApp",
			data: {
				checked: false,
				users: {
					userId: '',
					userName: '',
					userPassword: '',
					userCardNo: '',
					userTel: '',
					userAddress: '',
					userPostNumber: '',
					userIsadmin: '',
					userQuestion: '',
					userAnswer: ''
				}
			},
			methods: {
				onRegister(){
					location.href="register.html";
				},
				onSubmit() {
					let _this = this;
					$.ajax(`http://127.0.0.1:8080/api/user/login/${_this.users.userName}/${_this.users.userPassword}`, {
						type: "get",
						dataType: "json",
						contentType: "application/json",
						success(res) {
							if(res != null) {
								/*showAlertDialog('登录成功');
								_this.clearContent();
								closeWindowDialog();*/
								location.href="index.html";
							} else {
								alert("登录失败");
							}
						}
					});
				}
			},
			mounted() {
				
			}
		})
	</script>

</html>